/*
*Lexi Hall
*November 2, 2018
*Spooky Places Project
*/

/* The universal selector */

* {

}

/* Body attributes here */

body { 
    background-color: darkseagreen;

} 
img {width: 300px; height: 200px;}
#devil {width: 200px; height: 300px;}
